/*button{
    background-color: transparent;
    color: #58534c;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    border: 2px solid #58534c;
    border-radius: 10%;

}
button:hover{
    color: #f1d3ab;
    border: 2px solid #f1d3ab;
*/

a{
    color: #58534c;
    font-size: 4em;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
}
a:hover{
    color: #f1d3ab;
}