<main class="d-flex flex-column align-items-center justify-content-center">
    <h1>Current Player: {{ player }} </h1>

    <div class="board">
        <app-cell 
            *ngFor="let val of cells; let i = index" 
            [value]="val"
            (click)="makeMove(i)"> 
        </app-cell>
    </div>


    <div class="winner-container d-flex align-items-center justify-content-center m-1">
        <h2 *ngIf="winner">
            Player {{ winner }} won the game!
        </h2>
    </div>

    <button class="newgame-button" (click)="newGame()">Start new Game</button>

</main>
